code/Deliveries.SetupExe/deploy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="notemptystring">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="MetaData">
    <xs:all>
      <xs:element name="productname" type="notemptystring">
      </xs:element>
      <xs:element name="productversion" type="notemptystring">
      </xs:element>
      <xs:element name="productcode" type="notemptystring">
      </xs:element>
      <xs:element name="manufacturer" type="notemptystring">
      </xs:element>
      <xs:element name="packager" type="notemptystring">
      </xs:element>
      <xs:element name="creationdate" type="xs:date"/>
      <xs:element name="type" type="notemptystring">
      </xs:element>
      <xs:element name="releaseversion" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="internalversion" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="languages" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="architecture" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="maininstallfolderx86" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="maininstallfolderx64" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="maininstallexe" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
      <xs:element name="originalsoftwareid" type="notemptystring"  minOccurs="0" maxOccurs="1">
      </xs:element>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="Configuration">
    <xs:choice maxOccurs="unbounded">
      <xs:group ref="configgroup" minOccurs="0" maxOccurs="1" />
    </xs:choice>
  </xs:complexType>

  <xs:group name="configgroup">
    <xs:sequence>
      <xs:element name="config">
        <xs:complexType>
          <xs:attribute name="name" use="required" type="notemptystring"/>
          <xs:attribute name="type" use="required" type="notemptystring"/>
          <xs:attribute name="value" use="optional" type="xs:string" default="" />
          <xs:attribute name="parameter" use="optional" type="xs:string" default="" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>


  <xs:complexType name="DeployInfo">

    <xs:sequence>
      <xs:element name="metadata" type="MetaData"/>
      <xs:element name="install" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="uninstall" minOccurs="1" maxOccurs="1">
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="repair" maxOccurs="1">
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="initialize" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="userinstall" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="useruninstall" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="userrepair" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="userinitialize" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="userrun" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="testing" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="snapshot" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:choice>
            <xs:element name="tasks" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="configuration" type="Configuration" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:group name="TaskQueue">
    <xs:choice>
      <xs:element name="continue">
        <xs:complexType>
          <xs:attribute name="exitcode" use="required" type="xs:nonNegativeInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="abort">
        <xs:complexType>
          <xs:attribute name="message" use="optional" type="notemptystring"/>
          <xs:attribute name="exitcode" use="optional" type="xs:nonNegativeInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="postpone">
        <xs:complexType>
          <xs:attribute name="max" use="required" type="xs:positiveInteger"/>
          <xs:attribute name="message" use="optional" type="notemptystring"/>
          <xs:attribute name="dialog" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="enableinstallgui">
        <xs:complexType>
          <xs:attribute name="unattended" type="xs:boolean" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="messagebox">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="notemptystring">
              <xs:attribute name="type" use="required">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="WARNING"/>
                    <xs:enumeration value="INFO"/>
                    <xs:enumeration value="ERROR"/>
                    <xs:enumeration value="BATTERY"/>
                    <xs:enumeration value="PROCESS"/>
                    <xs:enumeration value="ABORT"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkbattery">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkfullscreen">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
          <!--default is true-->
          <xs:attribute name="loop" type="xs:boolean" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="startservice">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:attribute name="name" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="stopservice">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:attribute name="name" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="killprocess">
        <xs:complexType>
          <xs:attribute name="name" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="killprocessbypath">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkdisk">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
          <xs:attribute name="driveletter" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="1"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="space" type="xs:positiveInteger"/>
          <!--default is true-->
          <xs:attribute name="physical" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkmsiinstallation">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="package" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkfile">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                <!--default: loop = "false"-->
                <xs:attribute name="loop" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                <!--default: loop = "false"-->
                <xs:attribute name="loop" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="path" type="notemptystring" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkfolder">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="path" type="notemptystring" use="required"/>
          <xs:attribute name="contentrequired" type="xs:boolean" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkvariable">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="var" type="notemptystring" use="required"/>
          <xs:attribute name="value" type="xs:string" default="" />
        </xs:complexType>
      </xs:element>
      <xs:element name="getvariablefromregistry">
        <xs:complexType>
          <xs:attribute name="var" type="notemptystring"/>
          <xs:attribute name="path" type="notemptystring" use="required"/>
          <xs:attribute name="name" type="xs:string" default="" />
        </xs:complexType>
      </xs:element>
      <xs:element name="checkregistry">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                <!--default: loop = "false"-->
                <xs:attribute name="loop" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                <!--default: loop = "false"-->
                <xs:attribute name="loop" type="xs:boolean" use="optional"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="path" type="notemptystring" use="required"/>
          <xs:attribute name="name" type="notemptystring"/>
          <xs:attribute name="value" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkarchitecture">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="x64" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="x86" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkserver">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkprocess">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
          <xs:attribute name="name" type="notemptystring" use="required"/>
          <!--default: loop = "true"-->
          <xs:attribute name="loop" type="xs:boolean" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="msiexec">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="parameters" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                  <xs:element name="parameter" type="notemptystring"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="returnvalues" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                  <xs:element name="returnvalue">
                    <xs:complexType>
                      <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                      <xs:attribute name="value" type="notemptystring"/>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="execute">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="parameters" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                  <xs:element name="parameter" type="notemptystring"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="returnvalues" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                  <xs:element name="returnvalue">
                    <xs:complexType>
                      <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                      <xs:attribute name="value" type="notemptystring"/>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="path" type="notemptystring" use="required"/>
          <xs:attribute name="windowstyle" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="hidden"/>
                <xs:enumeration value="maximized"/>
                <xs:enumeration value="minimized"/>
                <xs:enumeration value="normal"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="executenowait">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="parameters" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                  <xs:element name="parameter" type="notemptystring"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="path" type="notemptystring" use="required"/>
          <xs:attribute name="windowstyle" use="optional">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="hidden"/>
                <xs:enumeration value="maximized"/>
                <xs:enumeration value="minimized"/>
                <xs:enumeration value="normal"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="removefile">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removefolder">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removeregkey">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
          <xs:attribute name="name" use="optional" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="addregkey">
        <xs:complexType>
          <xs:attribute name="path" type="notemptystring" use="required"/>
          <xs:attribute name="name" type="xs:string" use="optional" default="" />
          <xs:attribute name="value" type="xs:string" use="optional" default="" />
          <xs:attribute name="type" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="REG_DWORD"/>
                <xs:enumeration value="REG_SZ"/>
                <xs:enumeration value="REG_BINARY"/>
                <xs:enumeration value="REG_MULTI_SZ"/>
                <xs:enumeration value="REG_EXPAND_SZ"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="addfolder">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="setvariable">
        <xs:complexType>
          <xs:attribute name="var" use="required" type="notemptystring"/>
          <xs:attribute name="value" use="optional" type="xs:string" default="" />
        </xs:complexType>
      </xs:element>

      <xs:element name="addshortcut">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
          <xs:attribute name="destination" use="required" type="notemptystring"/>
          <xs:attribute name="workdir" use="optional" type="notemptystring" />
          <xs:attribute name="iconpath" use="optional" type="notemptystring" />
          <xs:attribute name="iconindex" use="optional" type="xs:nonNegativeInteger" />
          <xs:attribute name="description" use="optional" type="notemptystring" />
          <xs:attribute name="arguments" use="optional" type="notemptystring" />
        </xs:complexType>
      </xs:element>
      <xs:element name="addfont">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removefont">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="addpath">
        <xs:complexType>
          <xs:attribute name="value" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removepath">
        <xs:complexType>
          <xs:attribute name="value" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="moveshortcuts">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removeshortcuts">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
          <xs:attribute name="filename" use="optional" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="setreboot"/>
      <xs:element name="sleep">
        <xs:complexType>
          <xs:attribute name="seconds" use="required" type="xs:positiveInteger"/>
          <xs:attribute name="message" use="optional" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="startaltiristask">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="0" maxOccurs="unbounded"/>
          <xs:attribute name="name" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="checkOS">
        <xs:complexType>
          <xs:choice maxOccurs="2" minOccurs="0">
            <xs:element name="exists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="notexists" maxOccurs="1">
              <xs:complexType>
                <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="name" type="notemptystring" use="optional"/>
          <xs:attribute name="version" type="notemptystring" use="optional"/>
          <xs:attribute name="servicepack" type="notemptystring" use="optional"/>
          <xs:attribute name="language" type="notemptystring" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="copyfile">
        <xs:complexType>
          <xs:attribute name="source" use="required" type="notemptystring"/>
          <xs:attribute name="destination" use="required" type="notemptystring"/>
          <xs:attribute name="overwrite" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="copyfolder">
        <xs:complexType>
          <xs:attribute name="source" use="required" type="notemptystring"/>
          <xs:attribute name="destination" use="required" type="notemptystring"/>
          <xs:attribute name="overwrite" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="expandfolder">
        <xs:complexType>
          <xs:attribute name="source" use="required" type="notemptystring"/>
          <xs:attribute name="destination" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="writeini">
        <xs:complexType>
          <xs:attribute name="inifile" use="required" type="notemptystring"/>
          <xs:attribute name="section" use="required" type="notemptystring"/>
          <xs:attribute name="key" use="required" type="notemptystring"/>
          <xs:attribute name="value" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="addtext">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
          <xs:attribute name="value" use="required" type="notemptystring"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removetext">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
          <xs:attribute name="value" use="required" type="notemptystring"/>
          <xs:attribute name="aggressive" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="replacetext">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring"/>
          <xs:attribute name="source" use="required" type="notemptystring"/>
          <xs:attribute name="destination" use="required" type="xs:string"/>
        </xs:complexType>
      </xs:element>


      <xs:element name="appinstaller">
        <xs:complexType>
          <xs:attribute name="action" use="required" type="notemptystring"/>
          <xs:attribute name="name" use="optional" type="notemptystring"/>
          <xs:attribute name="filename" use="optional" type="notemptystring"/>
        </xs:complexType>
      </xs:element>


      <xs:element name="addfilepermission">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring" />
          <xs:attribute name="permission" use="required" type="notemptystring" />
          <xs:attribute name="account" use="required" type="notemptystring" />
          <xs:attribute name="replace" use="optional" type="xs:boolean"/>
          <xs:attribute name="inheritance" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removefilepermission">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring" />
          <xs:attribute name="permission" use="optional" type="notemptystring" />
          <xs:attribute name="account" use="required" type="notemptystring" />
          <xs:attribute name="inheritance" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="addregpermission">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring" />
          <xs:attribute name="permission" use="required" type="notemptystring" />
          <xs:attribute name="account" use="required" type="notemptystring" />
          <xs:attribute name="replace" use="optional" type="xs:boolean"/>
          <xs:attribute name="inheritance" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="removeregpermission">
        <xs:complexType>
          <xs:attribute name="path" use="required" type="notemptystring" />
          <xs:attribute name="permission" use="optional" type="notemptystring" />
          <xs:attribute name="account" use="required" type="notemptystring" />
          <xs:attribute name="inheritance" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="sendwindowcommand">
        <xs:complexType>
          <xs:attribute name="command" use="required" type="notemptystring" />
          <xs:attribute name="ctrlprocess" use="required" type="notemptystring" />
          <xs:attribute name="ctrlid" use="optional" type="notemptystring" />
        </xs:complexType>
      </xs:element>

      <xs:element name="sendmousecommand">
        <xs:complexType>
          <xs:attribute name="command" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="LeftClick"/>
                <xs:enumeration value="LeftDoubleclick"/>
                <xs:enumeration value="LeftDrag"/>
                <xs:enumeration value="RightClick"/>
                <xs:enumeration value="RightDoubleclick"/>
                <xs:enumeration value="RightDrag"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="x" use="required" type="notemptystring" />
          <xs:attribute name="y" use="required" type="notemptystring" />
          <xs:attribute name="positiontype" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="screen"/>
                <xs:enumeration value="window"/>
                <xs:enumeration value="control"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="xEnd" use="optional" type="notemptystring" />
          <xs:attribute name="yEnd" use="optional" type="notemptystring" />
          <xs:attribute name="ctrlprocess" use="optional" type="notemptystring" />
          <xs:attribute name="ctrlid" use="optional" type="notemptystring" />
          <xs:attribute name="showmove" use="optional" type="xs:boolean"/>
        </xs:complexType>
      </xs:element>

      <xs:element name="sendkeyboardcommand">
        <xs:complexType>
          <xs:attribute name="value" use="optional" type="notemptystring" />
          <xs:attribute name="keys" use="optional" type="notemptystring" />
          <xs:attribute name="ctrlprocess" use="optional" type="notemptystring" />
          <xs:attribute name="ctrlid" use="optional" type="notemptystring" />
        </xs:complexType>
      </xs:element>

      <xs:element name="setresolution">
        <xs:complexType>
          <xs:attribute name="resolution" use="required" type="notemptystring" />
        </xs:complexType>
      </xs:element>

      <xs:element name="videoscreenshot" >
        <xs:complexType>
          <xs:attribute name="nr" use="optional" type="xs:positiveInteger" />
          <xs:attribute name="cause" use="optional" type="notemptystring" />
        </xs:complexType>
      </xs:element>

      <xs:element name="removeexistingsoftware">
        <xs:complexType>
          <xs:attribute name="uninstalltype" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="displayname"/>
                <xs:enumeration value="productcode"/>
                <xs:enumeration value="upgradecode"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="value" use="required" type="notemptystring" />
        </xs:complexType>
      </xs:element>

      <xs:element name="checkmemory">
        <xs:complexType>
          <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
          <xs:attribute name="memory" type="xs:positiveInteger"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="getoslanguage">
        <xs:complexType>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="languagecodes" maxOccurs="unbounded">
              <xs:complexType>
                <xs:choice maxOccurs="unbounded" minOccurs="1">
                  <xs:element name="languagecode">
                    <xs:complexType>
                      <xs:group ref="TaskQueue" minOccurs="1" maxOccurs="unbounded"/>
                      <xs:attribute name="value" type="notemptystring"/>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:group>

  <xs:element name="deploy" type="DeployInfo">
    <xs:annotation>
      <xs:appinfo>
        <version>1.9.1</version>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
</xs:schema>